@import "tailwindcss";

@theme {
  --color-onyx: #0e1216;
  --color-charcoal: #181b1f;
}

@layer base {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}
